h1 {
   text-align: center;
}
p {
    text-align: center;
}
#survey-form {
    text-align: center;
    background-color: rgb(227, 227, 253);
    border-radius: 13px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 0px;
    border: 5px solid rgb(184, 184, 245);
    opacity: 0.5;
}
body {
    background-image: url("doctor-pic.jpg")
}