* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #a7e8f0;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 145, 1);
}
#education-level {
    text-align: center;

}
#information {
    text-align: center;
}
#pricing {
    text-align: center;
}
#form {
    text-align: center;
}
#email {
    height: 30px;
    width: 350px;
}
#submit {
    height: 30px;
    width: 150px;
    border-radius: 9px;
    background-color: hsl(186, 52%, 42%);
}

#nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    margin-left: 400px;
    }

#header {
    display: flex;
    }

.nav-link {
        margin: 23px;
        font-size: 19px;
        text-decoration: none;
        color: rgb(51,51,51);
    }

button {
        margin: 11px;
        padding: 7px;
        background-color: hsl(186, 52%, 42%);
        border: 3px solid rgb(51,51,51);
        border-radius: 9px;
    }

#pricing {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3rem 0.2rem;
    }

#pricing {
        display: flex;
        flex-direction: row;
        margin-top: 71px;
        justify-content: center;
        text-align: center;
        padding: 101px;
}
.pricing-1 {
    border-radius: 25px;
    border: 2px solid hsl(186, 52%, 42%);
    padding: 20px; 
    width: 200px;
    height: 150px;
}
.pricing-2 {
    border-radius: 25px;
    border: 2px solid hsl(186, 52%, 42%);
    padding: 20px;
    width: 200px;
    height: 150px;
}
.pricing-3 {
    border-radius: 25px;
    border: 2px solid hsl(186, 52%, 42%);
    padding: 20px;
    width: 200px;
    height: 150px;
}

.button:hover {
    color: greenyellow;
    background: #3B5998;
    border-color: green;
}

.link {
    text-decoration: none;
}

#pricing {
    display: flex;
    justify-content: space-evenly;
}

#header-img {
    width: 100px;
    height: 100px;
    border: solid yellow 2px;
}

@media (max-width: 568px) {
    body {
    margin-top: 1px;
    display: flex;
    flex-direction: column;;
    align-items: center;
    text-align: center;
    }
}
